body{
			background-color: #f5f5f5;
}
h2{
	font-family: "Helvetica";
}
.box{
	width: 20%;
	float: left;
	margin-top: 1.5%;
	background-color: white;
	padding: 1%;
	width: 90%;
	border-radius: 5px;
}
#rem{
	color: white;
	background-color: #ff533d;
	padding: 10px 10px;
	border-style: none;
	border-radius: 5px;
	font-family: "Helvetica";
}
#int{
	display: inline-block;
	padding: 2%;
	margin-left: 20px;
	font-family: "Verdana";
	font-size: 12px;
}
#one{
	opacity: 1;
}

#phname{
	font-family: "Courier New";
	font-size: 20px;
	font-weight: bold;
}