.bg 
{
	background: url(../home_page/lib.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}

.cell
{
    background-color: white;
    border-radius: 5%;
    padding: 2%;
    margin: auto;
    width: 20%;
}

.text
{
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

