.bg 
{
	background: url(../home_page/lib.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}

.cell
{
	background-color: white;
	border: none;
    border-radius: 2%;
    padding: 2%;
    margin: auto;
    width: 500px;
}

.text
{
    color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:2%;
	font-size: 200%;

}

.title
{
	font-family: Arial, Helvetica, sans-serif;
	color: #ffea75;
	font-size: 300%;
	margin-left:2%;
}

.button
{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:2%;
	font-size: 100%;
}
