body
{
	background-image: url("grey1.jpg");
	margin: 0px;
}

#navbar
{
	position: absolute;
	background-color: #3480f3;
	width: 100%;
	height: 80px;
	float: left;
}

#wrapper
{

}

.searchbutton
{
	float: left;
	position: relative;
	bottom: 30px;
	top: 20px;
	left:20px;
	font-family: calibri;
	font-size: 20px;
	height: 40px;
}

#linkref
{
	font-family: calibri;
	font-size: 35px;
	position: relative;
	padding-left:2%;
	padding-top:1.5%;
	text-decoration:none;
	color:white;
	float: left;
}

#linkrefsignin
{
	font-family:calibri ;
	font-size: 35px;
	position: relative;
	padding-left:2%;
	padding-top:1.5%;
	text-decoration:none;
	color:white;
	float: left;
}

.logo
{
	width: 7%;
	color: #b82601;
	position:relative;
	margin-left:2%;
	float: left;
}

.searchwrapper
{
	float: left;
	padding-left:40px;
	padding-right:250px;
}

.searchbox
{
	float: left;
	position: relative;
	bottom: 30px;
	top: 20px;
	left:20px;
	right: 40px;
	height: 36px;
	width: 250px;
	border: none;
	border-radius:5px;
}

.searchbutton
{
		background-color: #0f1626;
		color: white;
		border: none;
		border-radius:5px;
		left: 25px;
}

.avatar
{
	width: 4%;
	position:relative;
	color: #b82601;
	float: left;
	padding: 1%;
}

#home{
	font-family: calibri;
	font-size: 35px;
	position: relative;
	text-decoration:none;
	float: left;
	margin-left: 10%;
	vertical-align:middle;    
	color: white;
	padding-top: 1.5%;
}

.topbrands
{
	color:#0F1626;
	font-size: 30px;
	font-family: Franklin Gothic Book;
	position: static;
	bottom: 20px;
	padding-bottom:20px;
	margin-left: 0%;
}

.topbrandsdiv
{
	position: static;
	margin-top: 80px;
}

.brandlogo
{
	height: 100px;
	width: 100px;
	padding-left: 5%;
	padding-right: 5%;
	filter: grayscale();
	position: static;
}

.brandlogo:hover
{
	filter: none;
	outline-style: none;

}

