/* Add a black background color to the top navigation */
.topnav {
    background-color:#4b1010;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(116, 45, 45);
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.foot
{
    position: fixed;
    bottom: 0%;
    background-image: url("grey1.jpg");
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.link
{
  margin-left: 2%;
  margin-right: 2%;
}

.search
{
  float: left;
  border: none;
  border-radius: 4%;
  padding: 1%;
  margin: 1%;
}

.srch 
{
  padding: 1%;
  margin: 1%;
  border: none;
  border-radius: 10%;
  background-color: #ffea75;
  color: black;
  
}