/* Add a black background color to the top navigation */
.topnav {
    background-color:#3480f3;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(164, 176, 246);
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.foot
{
    position: fixed;
    bottom: 0%;
    background-image: url("grey1.jpg");
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.link
{
  margin-left: 2%;
  margin-right: 2%;
}